Tests/NodeSetTest/Opc.Ua.UANodeSet.Types.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--
 * Copyright (c) 2005-2020 The OPC Foundation, Inc. All rights reserved.
 *
 * OPC Foundation MIT License 1.00
 * 
 * Permission is hereby granted, free of charge, to any person
 * obtaining a copy of this software and associated documentation
 * files (the "Software"), to deal in the Software without
 * restriction, including without limitation the rights to use,
 * copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the
 * Software is furnished to do so, subject to the following
 * conditions:
 * 
 * The above copyright notice and this permission notice shall be
 * included in all copies or substantial portions of the Software.
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 * OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 * NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 * HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 * WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 * OTHER DEALINGS IN THE SOFTWARE.
 *
 * The complete license agreement can be found here:
 * http://opcfoundation.org/License/MIT/1.00/
-->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ua="http://opcfoundation.org/UA/2008/02/Types.xsd"
  xmlns:tns="http://opcfoundation.org/UA/NodeSet/Types.xsd"
  targetNamespace="http://opcfoundation.org/UA/NodeSet/Types.xsd"
  elementFormDefault="qualified"
>
  <xs:import namespace="http://opcfoundation.org/UA/2008/02/Types.xsd" />

  <xs:complexType name="ModelTableEntry">
    <xs:sequence>
      <xs:element name="ModelUri" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="Version" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="PublicationDate" type="xs:dateTime" minOccurs="0" />
      <xs:element name="RolePermissions" type="ua:ListOfRolePermissionType" minOccurs="0" nillable="true" />
      <xs:element name="AccessRestrictions" type="ua:AccessRestrictionType" minOccurs="0" />
      <xs:element name="RequiredModels" type="tns:ListOfModelTableEntry" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelTableEntry" type="tns:ModelTableEntry" />

  <xs:complexType name="ListOfModelTableEntry">
    <xs:sequence>
      <xs:element name="ModelTableEntry" type="tns:ModelTableEntry" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfModelTableEntry" type="tns:ListOfModelTableEntry" nillable="true"></xs:element>

  <xs:complexType name="UANodeSet">
    <xs:sequence>
      <xs:element name="NamespaceUris" type="ua:ListOfString" minOccurs="0" nillable="true" />
      <xs:element name="ServerUris" type="ua:ListOfString" minOccurs="0" nillable="true" />
      <xs:element name="Models" type="tns:ListOfModelTableEntry" minOccurs="0" nillable="true" />
      <xs:element name="Extensions" type="ua:ListOfKeyValuePair" minOccurs="0" nillable="true" />
      <xs:element name="LastModified" type="xs:dateTime" minOccurs="0" />
      <xs:element name="Nodes" type="ua:ListOfExtensionObject" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UANodeSet" type="tns:UANodeSet" />

  <xs:complexType name="ListOfUANodeSet">
    <xs:sequence>
      <xs:element name="UANodeSet" type="tns:UANodeSet" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUANodeSet" type="tns:ListOfUANodeSet" nillable="true"></xs:element>

  <xs:complexType name="UAReference">
    <xs:sequence>
      <xs:element name="TargetId" type="ua:NodeId" minOccurs="0" nillable="true" />
      <xs:element name="ReferenceTypeId" type="ua:NodeId" minOccurs="0" nillable="true" />
      <xs:element name="IsForward" type="xs:boolean" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UAReference" type="tns:UAReference" />

  <xs:complexType name="ListOfUAReference">
    <xs:sequence>
      <xs:element name="UAReference" type="tns:UAReference" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUAReference" type="tns:ListOfUAReference" nillable="true"></xs:element>

  <xs:complexType name="UANode">
    <xs:sequence>
      <xs:element name="NodeId" type="ua:NodeId" minOccurs="0" nillable="true" />
      <xs:element name="BrowseName" type="ua:QualifiedName" minOccurs="0" nillable="true" />
      <xs:element name="SymbolicName" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="DisplayNames" type="ua:ListOfLocalizedText" minOccurs="0" nillable="true" />
      <xs:element name="Descriptions" type="ua:ListOfLocalizedText" minOccurs="0" nillable="true" />
      <xs:element name="Documentation" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="WriteMask" type="ua:AttributeWriteMask" minOccurs="0" />
      <xs:element name="RolePermissions" type="ua:ListOfRolePermissionType" minOccurs="0" nillable="true" />
      <xs:element name="AccessRestrictions" type="ua:AccessRestrictionType" minOccurs="0" />
      <xs:element name="References" type="tns:ListOfUAReference" minOccurs="0" nillable="true" />
      <xs:element name="Extensions" type="ua:ListOfKeyValuePair" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UANode" type="tns:UANode" />

  <xs:complexType name="ListOfUANode">
    <xs:sequence>
      <xs:element name="UANode" type="tns:UANode" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUANode" type="tns:ListOfUANode" nillable="true"></xs:element>

  <xs:complexType name="UAType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UANode">
        <xs:sequence>
          <xs:element name="IsAbstract" type="xs:boolean" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UAType" type="tns:UAType" />

  <xs:complexType name="ListOfUAType">
    <xs:sequence>
      <xs:element name="UAType" type="tns:UAType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUAType" type="tns:ListOfUAType" nillable="true"></xs:element>

  <xs:complexType name="UAObjectType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UAType">
        <xs:sequence>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UAObjectType" type="tns:UAObjectType" />

  <xs:complexType name="ListOfUAObjectType">
    <xs:sequence>
      <xs:element name="UAObjectType" type="tns:UAObjectType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUAObjectType" type="tns:ListOfUAObjectType" nillable="true"></xs:element>

  <xs:complexType name="NamedTranslationType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="Text" type="ua:ListOfLocalizedText" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NamedTranslationType" type="tns:NamedTranslationType" />

  <xs:complexType name="ListOfNamedTranslationType">
    <xs:sequence>
      <xs:element name="NamedTranslationType" type="tns:NamedTranslationType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfNamedTranslationType" type="tns:ListOfNamedTranslationType" nillable="true"></xs:element>

  <xs:complexType name="UAVariableType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UAType">
        <xs:sequence>
          <xs:element name="Value" type="ua:Variant" minOccurs="0" />
          <xs:element name="DataType" type="ua:NodeId" minOccurs="0" nillable="true" />
          <xs:element name="ValueRank" type="xs:int" minOccurs="0" />
          <xs:element name="ArrayDimensions" type="ua:ListOfUInt32" minOccurs="0" nillable="true" />
          <xs:element name="Translations" type="tns:ListOfNamedTranslationType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UAVariableType" type="tns:UAVariableType" />

  <xs:complexType name="ListOfUAVariableType">
    <xs:sequence>
      <xs:element name="UAVariableType" type="tns:UAVariableType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUAVariableType" type="tns:ListOfUAVariableType" nillable="true"></xs:element>

  <xs:complexType name="UADataType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UAType">
        <xs:sequence>
          <xs:element name="Definition" type="ua:ExtensionObject" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UADataType" type="tns:UADataType" />

  <xs:complexType name="ListOfUADataType">
    <xs:sequence>
      <xs:element name="UADataType" type="tns:UADataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUADataType" type="tns:ListOfUADataType" nillable="true"></xs:element>

  <xs:complexType name="UAReferenceType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UAType">
        <xs:sequence>
          <xs:element name="InverseName" type="ua:ListOfLocalizedText" minOccurs="0" nillable="true" />
          <xs:element name="Symmetric" type="xs:boolean" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UAReferenceType" type="tns:UAReferenceType" />

  <xs:complexType name="ListOfUAReferenceType">
    <xs:sequence>
      <xs:element name="UAReferenceType" type="tns:UAReferenceType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUAReferenceType" type="tns:ListOfUAReferenceType" nillable="true"></xs:element>

  <xs:complexType name="UAInstance">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UANode">
        <xs:sequence>
          <xs:element name="ParentNodeId" type="ua:NodeId" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UAInstance" type="tns:UAInstance" />

  <xs:complexType name="ListOfUAInstance">
    <xs:sequence>
      <xs:element name="UAInstance" type="tns:UAInstance" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUAInstance" type="tns:ListOfUAInstance" nillable="true"></xs:element>

  <xs:complexType name="UAObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UAInstance">
        <xs:sequence>
          <xs:element name="EventNotifier" type="ua:EventNotifierType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UAObject" type="tns:UAObject" />

  <xs:complexType name="ListOfUAObject">
    <xs:sequence>
      <xs:element name="UAObject" type="tns:UAObject" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUAObject" type="tns:ListOfUAObject" nillable="true"></xs:element>

  <xs:complexType name="UAVariable">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UAInstance">
        <xs:sequence>
          <xs:element name="Value" type="ua:Variant" minOccurs="0" />
          <xs:element name="DataType" type="ua:NodeId" minOccurs="0" nillable="true" />
          <xs:element name="ValueRank" type="xs:int" minOccurs="0" />
          <xs:element name="ArrayDimensions" type="ua:ListOfUInt32" minOccurs="0" nillable="true" />
          <xs:element name="AccessLevel" type="ua:AccessLevelExType" minOccurs="0" />
          <xs:element name="MinimumSamplingInterval" type="xs:double" minOccurs="0" />
          <xs:element name="Historizing" type="xs:boolean" minOccurs="0" />
          <xs:element name="Translations" type="tns:ListOfNamedTranslationType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UAVariable" type="tns:UAVariable" />

  <xs:complexType name="ListOfUAVariable">
    <xs:sequence>
      <xs:element name="UAVariable" type="tns:UAVariable" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUAVariable" type="tns:ListOfUAVariable" nillable="true"></xs:element>

  <xs:complexType name="UAMethod">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UAInstance">
        <xs:sequence>
          <xs:element name="MethodDeclarationId" type="ua:NodeId" minOccurs="0" nillable="true" />
          <xs:element name="Translations" type="tns:ListOfNamedTranslationType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UAMethod" type="tns:UAMethod" />

  <xs:complexType name="ListOfUAMethod">
    <xs:sequence>
      <xs:element name="UAMethod" type="tns:UAMethod" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUAMethod" type="tns:ListOfUAMethod" nillable="true"></xs:element>

  <xs:complexType name="UAView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UAInstance">
        <xs:sequence>
          <xs:element name="EventNotifier" type="ua:EventNotifierType" minOccurs="0" />
          <xs:element name="ContainsNoLoops" type="xs:boolean" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UAView" type="tns:UAView" />

  <xs:complexType name="ListOfUAView">
    <xs:sequence>
      <xs:element name="UAView" type="tns:UAView" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUAView" type="tns:ListOfUAView" nillable="true"></xs:element>

</xs:schema>
