Tests/NodeSetTest/Opc.Ua.UANodeSet.Types.xsd

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ua="http://opcfoundation.org/UA/2008/02/Types.xsd"
  xmlns:tns="http://opcfoundation.org/UA/NodeSet/Types.xsd"
  targetNamespace="http://opcfoundation.org/UA/NodeSet/Types.xsd"
  elementFormDefault="qualified"
>
  <xs:import namespace="http://opcfoundation.org/UA/2008/02/Types.xsd" />

  <xs:complexType name="ModelTableEntry">
    <xs:sequence>
      <xs:element name="ModelUri" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="Version" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="PublicationDate" type="xs:dateTime" minOccurs="0" />
      <xs:element name="RolePermissions" type="ua:ListOfRolePermissionType" minOccurs="0" nillable="true" />
      <xs:element name="AccessRestrictions" type="ua:AccessRestrictionType" minOccurs="0" />
      <xs:element name="RequiredModels" type="tns:ListOfModelTableEntry" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelTableEntry" type="tns:ModelTableEntry" />

  <xs:complexType name="ListOfModelTableEntry">
    <xs:sequence>
      <xs:element name="ModelTableEntry" type="tns:ModelTableEntry" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfModelTableEntry" type="tns:ListOfModelTableEntry" nillable="true"></xs:element>

  <xs:complexType name="UANodeSet">
    <xs:sequence>
      <xs:element name="NamespaceUris" type="ua:ListOfString" minOccurs="0" nillable="true" />
      <xs:element name="ServerUris" type="ua:ListOfString" minOccurs="0" nillable="true" />
      <xs:element name="Models" type="tns:ListOfModelTableEntry" minOccurs="0" nillable="true" />
      <xs:element name="Extensions" type="ua:ListOfKeyValuePair" minOccurs="0" nillable="true" />
      <xs:element name="LastModified" type="xs:dateTime" minOccurs="0" />
      <xs:element name="Nodes" type="ua:ListOfExtensionObject" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UANodeSet" type="tns:UANodeSet" />

  <xs:complexType name="ListOfUANodeSet">
    <xs:sequence>
      <xs:element name="UANodeSet" type="tns:UANodeSet" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUANodeSet" type="tns:ListOfUANodeSet" nillable="true"></xs:element>

  <xs:complexType name="UAReference">
    <xs:sequence>
      <xs:element name="TargetId" type="ua:NodeId" minOccurs="0" nillable="true" />
      <xs:element name="ReferenceTypeId" type="ua:NodeId" minOccurs="0" nillable="true" />
      <xs:element name="IsForward" type="xs:boolean" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UAReference" type="tns:UAReference" />

  <xs:complexType name="ListOfUAReference">
    <xs:sequence>
      <xs:element name="UAReference" type="tns:UAReference" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUAReference" type="tns:ListOfUAReference" nillable="true"></xs:element>

  <xs:simpleType  name="ReleaseStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Released_1" />
      <xs:enumeration value="Draft_2" />
      <xs:enumeration value="Deprecated_3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReleaseStatus" type="tns:ReleaseStatus" />

  <xs:complexType name="ListOfReleaseStatus">
    <xs:sequence>
      <xs:element name="ReleaseStatus" type="tns:ReleaseStatus" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfReleaseStatus" type="tns:ListOfReleaseStatus" nillable="true"></xs:element>

  <xs:complexType name="UABaseNode">
    <xs:sequence>
      <xs:element name="NodeId" type="ua:NodeId" minOccurs="0" nillable="true" />
      <xs:element name="BrowseName" type="ua:QualifiedName" minOccurs="0" nillable="true" />
      <xs:element name="SymbolicName" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="DisplayNames" type="ua:ListOfLocalizedText" minOccurs="0" nillable="true" />
      <xs:element name="Descriptions" type="ua:ListOfLocalizedText" minOccurs="0" nillable="true" />
      <xs:element name="Documentation" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="WriteMask" type="ua:AttributeWriteMask" minOccurs="0" />
      <xs:element name="RolePermissions" type="ua:ListOfRolePermissionType" minOccurs="0" nillable="true" />
      <xs:element name="AccessRestrictions" type="ua:AccessRestrictionType" minOccurs="0" />
      <xs:element name="ReleaseStatus" type="tns:ReleaseStatus" minOccurs="0" />
      <xs:element name="References" type="tns:ListOfUAReference" minOccurs="0" nillable="true" />
      <xs:element name="Extensions" type="ua:ListOfKeyValuePair" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UABaseNode" type="tns:UABaseNode" />

  <xs:complexType name="ListOfUABaseNode">
    <xs:sequence>
      <xs:element name="UABaseNode" type="tns:UABaseNode" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUABaseNode" type="tns:ListOfUABaseNode" nillable="true"></xs:element>

  <xs:complexType name="NamedTranslationType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="Texts" type="ua:ListOfLocalizedText" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NamedTranslationType" type="tns:NamedTranslationType" />

  <xs:complexType name="ListOfNamedTranslationType">
    <xs:sequence>
      <xs:element name="NamedTranslationType" type="tns:NamedTranslationType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfNamedTranslationType" type="tns:ListOfNamedTranslationType" nillable="true"></xs:element>

  <xs:complexType name="UAInstance">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UABaseNode">
        <xs:sequence>
          <xs:element name="ParentNodeId" type="ua:NodeId" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UAInstance" type="tns:UAInstance" />

  <xs:complexType name="ListOfUAInstance">
    <xs:sequence>
      <xs:element name="UAInstance" type="tns:UAInstance" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUAInstance" type="tns:ListOfUAInstance" nillable="true"></xs:element>

  <xs:complexType name="UAObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UAInstance">
        <xs:sequence>
          <xs:element name="EventNotifier" type="ua:EventNotifierType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UAObject" type="tns:UAObject" />

  <xs:complexType name="ListOfUAObject">
    <xs:sequence>
      <xs:element name="UAObject" type="tns:UAObject" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUAObject" type="tns:ListOfUAObject" nillable="true"></xs:element>

  <xs:complexType name="UAVariable">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UAInstance">
        <xs:sequence>
          <xs:element name="Value" type="ua:Variant" minOccurs="0" />
          <xs:element name="DataType" type="ua:NodeId" minOccurs="0" nillable="true" />
          <xs:element name="ValueRank" type="xs:int" minOccurs="0" />
          <xs:element name="ArrayDimensions" type="ua:ListOfUInt32" minOccurs="0" nillable="true" />
          <xs:element name="AccessLevel" type="ua:AccessLevelExType" minOccurs="0" />
          <xs:element name="MinimumSamplingInterval" type="xs:double" minOccurs="0" />
          <xs:element name="Historizing" type="xs:boolean" minOccurs="0" />
          <xs:element name="Translations" type="tns:ListOfNamedTranslationType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UAVariable" type="tns:UAVariable" />

  <xs:complexType name="ListOfUAVariable">
    <xs:sequence>
      <xs:element name="UAVariable" type="tns:UAVariable" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUAVariable" type="tns:ListOfUAVariable" nillable="true"></xs:element>

  <xs:complexType name="UAMethod">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UAInstance">
        <xs:sequence>
          <xs:element name="MethodDeclarationId" type="ua:NodeId" minOccurs="0" nillable="true" />
          <xs:element name="Executable" type="ua:EventNotifierType" minOccurs="0" />
          <xs:element name="Translations" type="tns:ListOfNamedTranslationType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UAMethod" type="tns:UAMethod" />

  <xs:complexType name="ListOfUAMethod">
    <xs:sequence>
      <xs:element name="UAMethod" type="tns:UAMethod" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUAMethod" type="tns:ListOfUAMethod" nillable="true"></xs:element>

  <xs:complexType name="UAView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UAInstance">
        <xs:sequence>
          <xs:element name="EventNotifier" type="ua:EventNotifierType" minOccurs="0" />
          <xs:element name="ContainsNoLoops" type="xs:boolean" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UAView" type="tns:UAView" />

  <xs:complexType name="ListOfUAView">
    <xs:sequence>
      <xs:element name="UAView" type="tns:UAView" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUAView" type="tns:ListOfUAView" nillable="true"></xs:element>

  <xs:complexType name="UABaseType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UABaseNode">
        <xs:sequence>
          <xs:element name="IsAbstract" type="xs:boolean" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UABaseType" type="tns:UABaseType" />

  <xs:complexType name="ListOfUABaseType">
    <xs:sequence>
      <xs:element name="UABaseType" type="tns:UABaseType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUABaseType" type="tns:ListOfUABaseType" nillable="true"></xs:element>

  <xs:complexType name="UAObjectType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UABaseType">
        <xs:sequence>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UAObjectType" type="tns:UAObjectType" />

  <xs:complexType name="ListOfUAObjectType">
    <xs:sequence>
      <xs:element name="UAObjectType" type="tns:UAObjectType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUAObjectType" type="tns:ListOfUAObjectType" nillable="true"></xs:element>

  <xs:complexType name="UAVariableType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UABaseType">
        <xs:sequence>
          <xs:element name="Value" type="ua:Variant" minOccurs="0" />
          <xs:element name="DataType" type="ua:NodeId" minOccurs="0" nillable="true" />
          <xs:element name="ValueRank" type="xs:int" minOccurs="0" />
          <xs:element name="ArrayDimensions" type="ua:ListOfUInt32" minOccurs="0" nillable="true" />
          <xs:element name="Translations" type="tns:ListOfNamedTranslationType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UAVariableType" type="tns:UAVariableType" />

  <xs:complexType name="ListOfUAVariableType">
    <xs:sequence>
      <xs:element name="UAVariableType" type="tns:UAVariableType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUAVariableType" type="tns:ListOfUAVariableType" nillable="true"></xs:element>

  <xs:complexType name="UADataType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UABaseType">
        <xs:sequence>
          <xs:element name="Definition" type="ua:ExtensionObject" minOccurs="0" nillable="true" />
          <xs:element name="Translations" type="tns:ListOfNamedTranslationType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UADataType" type="tns:UADataType" />

  <xs:complexType name="ListOfUADataType">
    <xs:sequence>
      <xs:element name="UADataType" type="tns:UADataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUADataType" type="tns:ListOfUADataType" nillable="true"></xs:element>

  <xs:complexType name="UAReferenceType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UABaseType">
        <xs:sequence>
          <xs:element name="Symmetric" type="xs:boolean" minOccurs="0" />
          <xs:element name="InverseNames" type="ua:ListOfLocalizedText" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UAReferenceType" type="tns:UAReferenceType" />

  <xs:complexType name="ListOfUAReferenceType">
    <xs:sequence>
      <xs:element name="UAReferenceType" type="tns:UAReferenceType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUAReferenceType" type="tns:ListOfUAReferenceType" nillable="true"></xs:element>

</xs:schema>