Tests/DemoModel/TestModel/TestModel.Types.xsd

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ua="http://opcfoundation.org/UA/2008/02/Types.xsd"
  xmlns:tns="urn:opcfoundation.org:2024-01:TestModelTypes.xsd"
  targetNamespace="urn:opcfoundation.org:2024-01:TestModelTypes.xsd"
  elementFormDefault="qualified"
>
  <xs:annotation>
    <xs:appinfo>
      <ua:Model ModelUri="urn:opcfoundation.org:2024-01:TestModel" Version="1.05.06" PublicationDate="2025-10-31T00:00:00Z" />
    </xs:appinfo>
  </xs:annotation>
  
  <xs:import namespace="http://opcfoundation.org/UA/2008/02/Types.xsd" />

  <xs:complexType name="TestAbstractStructure">
    <xs:sequence>
      <xs:element name="A" type="xs:short" minOccurs="0" />
      <xs:element name="B" type="xs:double" minOccurs="0" />
      <xs:element name="C" type="xs:string" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestAbstractStructure" type="tns:TestAbstractStructure" />

  <xs:complexType name="ListOfTestAbstractStructure">
    <xs:sequence>
      <xs:element name="TestAbstractStructure" type="tns:TestAbstractStructure" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfTestAbstractStructure" type="tns:ListOfTestAbstractStructure" nillable="true"></xs:element>

  <xs:complexType name="TestConcreteStructure">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TestAbstractStructure">
        <xs:sequence>
          <xs:element name="D" type="xs:short" minOccurs="0" />
          <xs:element name="E" type="xs:double" minOccurs="0" />
          <xs:element name="F" type="xs:string" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TestConcreteStructure" type="tns:TestConcreteStructure" />

  <xs:complexType name="ListOfTestConcreteStructure">
    <xs:sequence>
      <xs:element name="TestConcreteStructure" type="tns:TestConcreteStructure" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfTestConcreteStructure" type="tns:ListOfTestConcreteStructure" nillable="true"></xs:element>

  <xs:complexType name="TestUnion">
    <xs:sequence>
      <xs:element name="SwitchField" type="xs:unsignedInt" minOccurs="0" />
      <xs:choice>
        <xs:element name="A" type="xs:short" minOccurs="0" />
        <xs:element name="B" type="xs:double" minOccurs="0" />
        <xs:element name="C" type="xs:string" minOccurs="0" nillable="true" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestUnion" type="tns:TestUnion" />

  <xs:complexType name="ListOfTestUnion">
    <xs:sequence>
      <xs:element name="TestUnion" type="tns:TestUnion" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfTestUnion" type="tns:ListOfTestUnion" nillable="true"></xs:element>

  <xs:complexType name="TestOptionalFields">
    <xs:sequence>
      <xs:element name="A" type="xs:short" minOccurs="0" />
      <xs:element name="B" type="xs:double" minOccurs="0" />
      <xs:element name="C" type="xs:string" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestOptionalFields" type="tns:TestOptionalFields" />

  <xs:complexType name="ListOfTestOptionalFields">
    <xs:sequence>
      <xs:element name="TestOptionalFields" type="tns:TestOptionalFields" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfTestOptionalFields" type="tns:ListOfTestOptionalFields" nillable="true"></xs:element>

  <xs:simpleType  name="TestEnumeration">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Invalid_0" />
      <xs:enumeration value="Red_2" />
      <xs:enumeration value="Green_4" />
      <xs:enumeration value="Blue_6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TestEnumeration" type="tns:TestEnumeration" />

  <xs:complexType name="ListOfTestEnumeration">
    <xs:sequence>
      <xs:element name="TestEnumeration" type="tns:TestEnumeration" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfTestEnumeration" type="tns:ListOfTestEnumeration" nillable="true"></xs:element>

  <xs:simpleType  name="TestOptionSet">
    <xs:restriction base="xs:unsignedLong">
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TestOptionSet" type="tns:TestOptionSet" />

  <xs:complexType name="ListOfTestOptionSet">
    <xs:sequence>
      <xs:element name="TestOptionSet" type="tns:TestOptionSet" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfTestOptionSet" type="tns:ListOfTestOptionSet" nillable="true"></xs:element>

  <xs:complexType name="TestScalarStructure">
    <xs:sequence>
      <xs:element name="A" type="xs:boolean" minOccurs="0" />
      <xs:element name="B" type="xs:byte" minOccurs="0" />
      <xs:element name="C" type="xs:unsignedByte" minOccurs="0" />
      <xs:element name="D" type="xs:short" minOccurs="0" />
      <xs:element name="E" type="xs:unsignedShort" minOccurs="0" />
      <xs:element name="F" type="xs:int" minOccurs="0" />
      <xs:element name="G" type="xs:unsignedInt" minOccurs="0" />
      <xs:element name="H" type="xs:long" minOccurs="0" />
      <xs:element name="I" type="xs:unsignedLong" minOccurs="0" />
      <xs:element name="J" type="xs:float" minOccurs="0" />
      <xs:element name="K" type="xs:double" minOccurs="0" />
      <xs:element name="L" type="ua:Guid" minOccurs="0" />
      <xs:element name="M" type="xs:dateTime" minOccurs="0" />
      <xs:element name="N" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="O" type="xs:base64Binary" minOccurs="0" nillable="true" />
      <xs:element name="P" type="ua:NodeId" minOccurs="0" nillable="true" />
      <xs:element name="Q" type="ua:ExpandedNodeId" minOccurs="0" nillable="true" />
      <xs:element name="R" type="ua:QualifiedName" minOccurs="0" nillable="true" />
      <xs:element name="S" type="ua:LocalizedText" minOccurs="0" nillable="true" />
      <xs:element name="T" type="ua:StatusCode" minOccurs="0" />
      <xs:element name="U" minOccurs="0" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="V" type="ua:Variant" minOccurs="0" />
      <xs:element name="W" type="ua:ExtensionObject" minOccurs="0" nillable="true" />
      <xs:element name="X" type="tns:TestConcreteStructure" minOccurs="0" nillable="true" />
      <xs:element name="Y" type="tns:TestEnumeration" minOccurs="0" />
      <xs:element name="Z" type="tns:TestOptionSet" minOccurs="0" />
      <xs:element name="A1" type="tns:TestUnion" minOccurs="0" nillable="true" />
      <xs:element name="B1" type="tns:TestOptionalFields" minOccurs="0" nillable="true" />
      <xs:element name="C1" type="ua:DataValue" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestScalarStructure" type="tns:TestScalarStructure" />

  <xs:complexType name="ListOfTestScalarStructure">
    <xs:sequence>
      <xs:element name="TestScalarStructure" type="tns:TestScalarStructure" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfTestScalarStructure" type="tns:ListOfTestScalarStructure" nillable="true"></xs:element>

  <xs:complexType name="TestArrayStructure">
    <xs:sequence>
      <xs:element name="A" type="ua:ListOfBoolean" minOccurs="0" nillable="true" />
      <xs:element name="B" type="ua:ListOfSByte" minOccurs="0" nillable="true" />
      <xs:element name="C" type="ua:ListOfByte" minOccurs="0" nillable="true" />
      <xs:element name="D" type="ua:ListOfInt16" minOccurs="0" nillable="true" />
      <xs:element name="E" type="ua:ListOfUInt16" minOccurs="0" nillable="true" />
      <xs:element name="F" type="ua:ListOfInt32" minOccurs="0" nillable="true" />
      <xs:element name="G" type="ua:ListOfUInt32" minOccurs="0" nillable="true" />
      <xs:element name="H" type="ua:ListOfInt64" minOccurs="0" nillable="true" />
      <xs:element name="I" type="ua:ListOfUInt64" minOccurs="0" nillable="true" />
      <xs:element name="J" type="ua:ListOfFloat" minOccurs="0" nillable="true" />
      <xs:element name="K" type="ua:ListOfDouble" minOccurs="0" nillable="true" />
      <xs:element name="L" type="ua:ListOfGuid" minOccurs="0" nillable="true" />
      <xs:element name="M" type="ua:ListOfDateTime" minOccurs="0" nillable="true" />
      <xs:element name="N" type="ua:ListOfString" minOccurs="0" nillable="true" />
      <xs:element name="O" type="ua:ListOfByteString" minOccurs="0" nillable="true" />
      <xs:element name="P" type="ua:ListOfNodeId" minOccurs="0" nillable="true" />
      <xs:element name="Q" type="ua:ListOfExpandedNodeId" minOccurs="0" nillable="true" />
      <xs:element name="R" type="ua:ListOfQualifiedName" minOccurs="0" nillable="true" />
      <xs:element name="S" type="ua:ListOfLocalizedText" minOccurs="0" nillable="true" />
      <xs:element name="T" type="ua:ListOfStatusCode" minOccurs="0" nillable="true" />
      <xs:element name="U" type="ua:ListOfXmlElement" minOccurs="0" nillable="true" />
      <xs:element name="V" type="ua:ListOfVariant" minOccurs="0" nillable="true" />
      <xs:element name="W" type="ua:ListOfExtensionObject" minOccurs="0" nillable="true" />
      <xs:element name="X" type="tns:ListOfTestConcreteStructure" minOccurs="0" nillable="true" />
      <xs:element name="Y" type="tns:ListOfTestEnumeration" minOccurs="0" nillable="true" />
      <xs:element name="Z" type="tns:ListOfTestOptionSet" minOccurs="0" nillable="true" />
      <xs:element name="A1" type="tns:ListOfTestUnion" minOccurs="0" nillable="true" />
      <xs:element name="B1" type="tns:ListOfTestOptionalFields" minOccurs="0" nillable="true" />
      <xs:element name="C1" type="ua:ListOfDataValue" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestArrayStructure" type="tns:TestArrayStructure" />

  <xs:complexType name="ListOfTestArrayStructure">
    <xs:sequence>
      <xs:element name="TestArrayStructure" type="tns:TestArrayStructure" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfTestArrayStructure" type="tns:ListOfTestArrayStructure" nillable="true"></xs:element>

  <xs:complexType name="TestStructure">
    <xs:sequence>
      <xs:element name="A" type="tns:TestScalarStructure" minOccurs="0" nillable="true" />
      <xs:element name="B" type="tns:TestArrayStructure" minOccurs="0" nillable="true" />
      <xs:element name="C" type="tns:ListOfTestScalarStructure" minOccurs="0" nillable="true" />
      <xs:element name="D" type="tns:ListOfTestArrayStructure" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestStructure" type="tns:TestStructure" />

  <xs:complexType name="ListOfTestStructure">
    <xs:sequence>
      <xs:element name="TestStructure" type="tns:TestStructure" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfTestStructure" type="tns:ListOfTestStructure" nillable="true"></xs:element>

  <xs:simpleType  name="EnumUnderscoreTest">
    <xs:restriction base="xs:string">
      <xs:enumeration value="x_x_1" />
      <xs:enumeration value="_x_2" />
      <xs:enumeration value="x__3" />
      <xs:enumeration value="__4" />
      <xs:enumeration value="Test5_-1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnumUnderscoreTest" type="tns:EnumUnderscoreTest" />

  <xs:complexType name="ListOfEnumUnderscoreTest">
    <xs:sequence>
      <xs:element name="EnumUnderscoreTest" type="tns:EnumUnderscoreTest" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfEnumUnderscoreTest" type="tns:ListOfEnumUnderscoreTest" nillable="true"></xs:element>

  <xs:simpleType  name="HeaterStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Off_0" />
      <xs:enumeration value="Heating_1" />
      <xs:enumeration value="Cooling_2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="HeaterStatus" type="tns:HeaterStatus" />

  <xs:complexType name="ListOfHeaterStatus">
    <xs:sequence>
      <xs:element name="HeaterStatus" type="tns:HeaterStatus" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfHeaterStatus" type="tns:ListOfHeaterStatus" nillable="true"></xs:element>

  <xs:complexType name="Vector">
    <xs:sequence>
      <xs:element name="X" type="xs:double" minOccurs="0" />
      <xs:element name="Y" type="xs:double" minOccurs="0" />
      <xs:element name="Z" type="xs:double" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vector" type="tns:Vector" />

  <xs:complexType name="ListOfVector">
    <xs:sequence>
      <xs:element name="Vector" type="tns:Vector" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfVector" type="tns:ListOfVector" nillable="true"></xs:element>

  <xs:complexType name="WorkOrderStatusType">
    <xs:sequence>
      <xs:element name="Actor" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="Timestamp" type="xs:dateTime" minOccurs="0" />
      <xs:element name="Comment" type="ua:LocalizedText" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkOrderStatusType" type="tns:WorkOrderStatusType" />

  <xs:complexType name="ListOfWorkOrderStatusType">
    <xs:sequence>
      <xs:element name="WorkOrderStatusType" type="tns:WorkOrderStatusType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfWorkOrderStatusType" type="tns:ListOfWorkOrderStatusType" nillable="true"></xs:element>

  <xs:complexType name="WorkOrderType">
    <xs:sequence>
      <xs:element name="ID" type="ua:Guid" minOccurs="0" />
      <xs:element name="AssetID" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="StartTime" type="xs:dateTime" minOccurs="0" />
      <xs:element name="StatusComments" type="tns:ListOfWorkOrderStatusType" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkOrderType" type="tns:WorkOrderType" />

  <xs:complexType name="ListOfWorkOrderType">
    <xs:sequence>
      <xs:element name="WorkOrderType" type="tns:WorkOrderType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfWorkOrderType" type="tns:ListOfWorkOrderType" nillable="true"></xs:element>

  <xs:complexType name="ExtendedWorkOrderType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WorkOrderType">
        <xs:sequence>
          <xs:element name="ContactX" type="xs:unsignedInt" minOccurs="0" />
          <xs:element name="ContactY" type="ua:ListOfString" minOccurs="0" nillable="true" />
          <xs:element name="ContactZ" type="xs:base64Binary" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExtendedWorkOrderType" type="tns:ExtendedWorkOrderType" />

  <xs:complexType name="ListOfExtendedWorkOrderType">
    <xs:sequence>
      <xs:element name="ExtendedWorkOrderType" type="tns:ExtendedWorkOrderType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfExtendedWorkOrderType" type="tns:ListOfExtendedWorkOrderType" nillable="true"></xs:element>

  <xs:complexType name="FinalWorkOrderType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ExtendedWorkOrderType">
        <xs:sequence>
          <xs:element name="Address" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="Phone" type="xs:string" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FinalWorkOrderType" type="tns:FinalWorkOrderType" />

  <xs:complexType name="ListOfFinalWorkOrderType">
    <xs:sequence>
      <xs:element name="FinalWorkOrderType" type="tns:FinalWorkOrderType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfFinalWorkOrderType" type="tns:ListOfFinalWorkOrderType" nillable="true"></xs:element>

  <xs:complexType name="SampleUnion">
    <xs:sequence>
      <xs:element name="SwitchField" type="xs:unsignedInt" minOccurs="0" />
      <xs:choice>
        <xs:element name="FieldX" type="xs:unsignedInt" minOccurs="0" />
        <xs:element name="FieldY" type="ua:ListOfString" minOccurs="0" nillable="true" />
        <xs:element name="FieldZ" type="xs:base64Binary" minOccurs="0" nillable="true" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SampleUnion" type="tns:SampleUnion" />

  <xs:complexType name="ListOfSampleUnion">
    <xs:sequence>
      <xs:element name="SampleUnion" type="tns:SampleUnion" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfSampleUnion" type="tns:ListOfSampleUnion" nillable="true"></xs:element>

  <xs:complexType name="SampleStructureWithOptionalFields">
    <xs:sequence>
      <xs:element name="FieldX" type="xs:unsignedInt" minOccurs="0" />
      <xs:element name="FieldY" type="ua:ListOfString" minOccurs="0" nillable="true" />
      <xs:element name="FieldZ" type="xs:base64Binary" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SampleStructureWithOptionalFields" type="tns:SampleStructureWithOptionalFields" />

  <xs:complexType name="ListOfSampleStructureWithOptionalFields">
    <xs:sequence>
      <xs:element name="SampleStructureWithOptionalFields" type="tns:SampleStructureWithOptionalFields" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfSampleStructureWithOptionalFields" type="tns:ListOfSampleStructureWithOptionalFields" nillable="true"></xs:element>

  <xs:complexType name="SampleUnionAllowSubtypes">
    <xs:sequence>
      <xs:element name="SwitchField" type="xs:unsignedInt" minOccurs="0" />
      <xs:choice>
        <xs:element name="FieldX" type="ua:ExtensionObject" minOccurs="0" nillable="true" />
        <xs:element name="FieldY" type="tns:WorkOrderStatusType" minOccurs="0" nillable="true" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SampleUnionAllowSubtypes" type="tns:SampleUnionAllowSubtypes" />

  <xs:complexType name="ListOfSampleUnionAllowSubtypes">
    <xs:sequence>
      <xs:element name="SampleUnionAllowSubtypes" type="tns:SampleUnionAllowSubtypes" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfSampleUnionAllowSubtypes" type="tns:ListOfSampleUnionAllowSubtypes" nillable="true"></xs:element>

  <xs:complexType name="SampleStructureAllowSubtypes">
    <xs:sequence>
      <xs:element name="FieldX" type="ua:ExtensionObject" minOccurs="0" nillable="true" />
      <xs:element name="FieldY" type="ua:ListOfExtensionObject" minOccurs="0" nillable="true" />
      <xs:element name="FieldZ" type="ua:ListOfExtensionObject" minOccurs="0" nillable="true" />
      <xs:element name="FieldW" type="tns:WorkOrderStatusType" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SampleStructureAllowSubtypes" type="tns:SampleStructureAllowSubtypes" />

  <xs:complexType name="ListOfSampleStructureAllowSubtypes">
    <xs:sequence>
      <xs:element name="SampleStructureAllowSubtypes" type="tns:SampleStructureAllowSubtypes" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfSampleStructureAllowSubtypes" type="tns:ListOfSampleStructureAllowSubtypes" nillable="true"></xs:element>

  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element name="LastName" type="xs:string" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" type="tns:Person" />

  <xs:complexType name="ListOfPerson">
    <xs:sequence>
      <xs:element name="Person" type="tns:Person" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfPerson" type="tns:ListOfPerson" nillable="true"></xs:element>

  <xs:complexType name="Student">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Person">
        <xs:sequence>
          <xs:element name="FirstName" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="University" type="xs:string" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Student" type="tns:Student" />

  <xs:complexType name="ListOfStudent">
    <xs:sequence>
      <xs:element name="Student" type="tns:Student" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfStudent" type="tns:ListOfStudent" nillable="true"></xs:element>

</xs:schema>